/* main style */
body {
	background-color: grey;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
/*id selectors*/
#me {
	position: center;
	width: 200px;
	padding: 3%;
	border: none;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#logo {
	position: relative;
	width: 100%;
	padding: 1% 0% 1% 0%;
	border: none;		
}
/* picture id selectors */
#contactpic {
	position: center;
	width: 200px;
	padding: 3%;
}

/*.personalpics {
	position: right;
	width: 49%;
	padding: 2%;
}
style for group of pics*/

#aboutpic {
	width: 75%;
	padding: 2%;
}

.personalpic {
    width: 75%;
    padding: 2%;
}

#picturesright {
    float: left;
    width: 49%;
    padding: 0 0 0 1%;
}

#picturesleft {
    float: right;
    width: 49%;
}
#imagesdiv {
    margin-bottom: 4%;
}

#menu {
    display:table;   
}

#openinginfo {
	margin-top: 3%;
	padding: 0% 5% 0% 5%;
	line-height: 150%;
	color: black;
	margin-bottom: 10%;
}
/* list styles */
ul {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
	text-decoration: none;
	width: 100%;
    margin: 2% 0% 0% 0%;
    padding: 0;
    text-align: center;
    list-style: none;
}

li {
    float: left;
    display: inline-block;
	text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
	/*padding: 0% 1% 0% 1%;*/
}

ul li a {
	display:block;
	padding: .2em;
	text-decoration: none;
	/* border: 1px solid #D6EEE6;
	border-radius: .5em;
	margin: .25em; */
	}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
/* link styles */
a {
	text-decoration: none;
    color: #D6EEE6;
}

a:hover {
    color: #99D4C0;
}

a:visited {
    color: #D6EEE6; 
}
/* header styles */
h1 {
	background-color: white;
}

h2 {padding: 2%;
    margin: 20% auto 1% auto;
    font-size: 200%;
}

h3 {
    padding: 2%;
    font-size: 125%;
    color: #99D4C0;
    margin-bottom: 5%;
}

h4 {
	padding: 2%;
	text-decoration: none;
	color: #99d4b9;
	margin-top: 3%;
	line-height: 150%;
}
/* class selectors */
.links {
	border: 1px solid #D6EEE6;
	border-radius: .5em;
	margin: .25em;
	width: 25%;
	position: center;
	line-height: 100%;
	text-align: center;
	margin: 0 auto 5% auto;
	text-decoration: none;
	color: #D6EEE6;
	text-decoration-color: #D6EEE6;
}
.text {
    padding: 3%;
    color: white;
    line-height: 115%;
}

.text1 {
	padding: 2%;
	color: white;
}

.text2{
	padding-top: 2%;
}

.content {
	padding: 4%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
	text-decoration: none;
	color: black;
    position: center;
}

/*masonry*/
.grid-item {
  width: 100%;
  padding: .5%;
}

.grid-item img {
  width: 75%;
  height: auto;
}

/* For tablet */
@media only screen and (min-width: 768px) 
{
    /*add more responsive stuff here */
 #me, #aboutpic, .personalpic, #contactpic {
        width: 30%;
        float: left;
    }
	
	.grid {
		margin-left: 12%;
	}
	
    .grid-item {
    	width: 45%;
  }
	
	.grid-item grid-item--width2 {
		width: 45%;
	}
	
	li {
		font-size: 
	}
	
}

/* For desktop */
@media only screen and (min-width:1024px) 
{
	
    #me, #aboutpic, .personalpic, #contactpic {
        width: 40%;
        float: left;
    }
	#openinginfo {
		font-size: 125%; 
	}
    /*#aboutpic {
        width: 40%;
        float: left;
    }*/
    li {
        font-size: 150%;
    }
    h2 {
        font-size: 275%;
        margin-top: 10%;
    }
    h3 {
        font-size: 250%;
        padding-top: 3%;
		margin-bottom: 1%;
    }
    .text {
        font-size: 150%;
    }
	.text1 {
		font-size: 130%;
	}
    .links {
        float:right;
        font-size: 120%;
        line-height:120%;
        width: 15%;
        margin-right: 9%;
        margin-top: 5%;
    }
    #footer2 {
        margin-top: 25%;
    }
	
	.grid {
		margin-left: 12%;
	}
	
    .grid-item {
    	width: 30%;
  }
	
	.grid-item grid-item--width2 {
		width: 30%;
	}
	
	.push {
		margin-top: 17em;
		position: center;
	}
}