body {
	background-color: grey;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

#me {
	position: center;
	width: 200px;
	padding: 3%;
	float: center;
	border: none;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#logo {
	position: relative;
	width: 100%;
	padding: 1% 0% 1% 0%;
	border: none;		
}

#contactpic {
	position: center;
	width: 200px;
	padding: 3%;
}

#personalimages {
	position: right;
	width: 24px;
	padding: 2%;
}

#aboutpic {
	width: 200px;
	padding: 2%;
}

#menu {
    display:table;
    
}

ul {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
	text-decoration: none;
	width: 100%;
    margin: 2% 0% 0% 0%;
    padding: 0;
    text-align: center;
    list-style: none;
}

li {
    float: left;
    display: inline-block;
	text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

ul li a {
	display:block;
	padding: .2em;
	text-decoration: none;
	/* border: 1px solid #D6EEE6;
	border-radius: .5em;
	margin: .25em; */
	}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}

a {
	text-decoration: none;
}

a:hover {
    color: #99D4C0;
}

a:visited {
    color: #D6EEE6; 
}

h1 {
	background-color: white;
}

h2 {padding: 2%;
    margin: 5% auto 5% auto;
    font-size: 200%;
}

h3 {
    padding: 2%;
    font-size: 125%;
    color: #99D4C0;
    margin-bottom: 5%;
}

h4 {
	padding: 2%;
	text-decoration: none;
	color: #99d4b9;
	margin-top: 3%;
	line-height: 150%;
}
.links {
	border: 1px solid #D6EEE6;
	border-radius: .5em;
	margin: .25em;
	width: 25%;
	position: center;
	line-height: 100%;
	text-align: center;
	margin: 0 auto 5% auto;
	text-decoration: none;
	color: #D6EEE6;
	text-decoration-color: #D6EEE6;
}
.text {
    padding: 3%;
    color: white;
    line-height: 115%;
}

.content {
	padding: 4%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
	text-decoration: none;
	color: black;
}